@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.gridItem {
  @include flexbox.flexbox(center, start);
  flex-direction: column;
  gap: 10px;
  min-width: 240px;
  height: 80px;
  padding: 18px 40px;
  border: 1px solid colors.$GRID_ITEM_BORDER;
  border-radius: 10px;

  p {
    font-size: 12px;
    color: colors.$GRID_ITEM_SUB_TEXT;
  }

  .details {
    @include flexbox.flexbox(between, center);
    width: 100%;

    div {
      display: flex;
      gap: 5px;
    }

    strong {
      font-size: 16px;
      font-weight: bold;
      color: colors.$GRID_ITEM_MAIN_TEXT;
    }
  }
}
