@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

body {
  background: colors.$MAIN_BG;
}

.app {
  min-height: 100vh;
  padding-top: 60px;
  margin-left: 0;
  background: colors.$MAIN_BG;

  @include responsive.after(SD) {
    margin-left: 280px;
  }
}
