@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.container {
  width: 100%;
  min-width: 400px;
  padding: 25px;
  background-color: colors.$WHITE;
  border-radius: 20px;
  box-shadow: 0 4px 10 0 rgba($color: colors.$BLACK, $alpha: 4%);

  @include responsive.after(SD) {
    padding: 40px;
  }
}
