@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  padding: 10px 30px;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;

  .mainCard {
    width: 100%;
    height: 200px;
    margin-top: 40px;
  }

  .dropDownBox {
    @include flexbox.flexbox(0, center);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 15%;

    .dropDownLines {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 250px;
    }
  }

  .mainChart {
    width: 100%;
    height: 50%;
  }
}
