// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ea3a4b;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

$MAIN_TEXT_COLOR: #3a474e;
$SUB_TEXT: #94a2ad;
$MAIN_BG: #f6f7f8;
$NAV_ACTIVE_BG: #edeff1;
$NAV_ACTIVE: #586cf5;
$SUB_GRAY: #edeff1;
$GUIDE_BOX: #e5f4fd;
$BOX_SHADOW: rgba(99, 99, 99, 20%);
$DROP_BOX: #d1d8dc;
