// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #EA3A4B;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

$MAIN_TEXT_COLOR: #3A474E;
$SUB_TEXT: #94A2AD;
$MAIN_BG: #F6F7F8;
$NAV_ACTIVE_BG: #EDEFF1;
$NAV_ACTIVE: #586CF5;
$SUB_GRAY: #EDEFF1;
$GUIDE_BOX: #E5F4FD;
$BOX_SHADOW: rgba(99, 99, 99, 0.2);
$DROP_BOX: #D1D8DC;