@use '/src/styles/constants/colors';

.makeAdButton {
  width: 100px;
  height: 40px;
  font-weight: 500;
  color: colors.$WHITE;
  background: #586cf5;
  border-radius: 10px;
}

.dropdownAndButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
