@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.container {
  width: 100%;
  background-color: #f6f7f8;

  .header {
    @include flexbox.flexbox(center, center);
    width: 100%;
    height: 80px;
  }

  .headerBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;

    .headerTitle {
      font-size: 26px;
      font-weight: 500;
    }

    .date {
      @include flexbox.flexbox(center, center);
      width: 240px;

      .datePicker {
        width: 100%;
        font-size: 14px;
        color: #3b474e;
      }
    }
  }

  .main {
    width: 100%;
    height: 760px;
    padding: 10px 30px;

    .mainTitle {
      font-size: 16px;
      font-weight: 500;
    }

    .mainContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90%;
      padding: 10px 30px;
      margin-top: 20px;
      background-color: white;
      border-radius: 20px;

      .mainCard {
        width: 100%;
        height: 50%;
        margin-top: 40px;
        // background-color: yellow;
      }

      .mainChart {
        width: 100%;
        height: 50%;
      }
    }
  }
}
