@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.container {
  width: 100%;
  background-color: #f6f7f8;

  .header {
    @include flexbox.flexbox(center, center);
    width: 100%;
    height: 80px;
  }

  .headerBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;

    .headerTitle {
      font-size: 26px;
      font-weight: 500;
    }

    .date {
      @include flexbox.flexbox(center, center);
      width: 240px;

      .datePicker {
        width: 100%;
        font-size: 14px;
        color: colors.$MAIN_TEXT_COLOR;
      }
    }
  }
}
