@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/constants/colors';

.modal {
  @include position.middleBox;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(colors.$BLACK, 10%);
  backdrop-filter: blur(5px);
}

.modalBox {
  @include flexbox.flexbox(between, stretch);
  z-index: 20;
  flex-direction: column;
  padding: 20px;
  background: colors.$WHITE;
  border-radius: 10px;
  box-shadow: colors.$NAV_SHADOW 2px 0 8px 0;
  @include position.middleBox;

  .modalTitle {
    font-size: 18px;
    font-weight: 500;
    color: colors.$MAIN_TEXT_COLOR;
  }

  .btnWrap {
    @include flexbox.flexbox(end, center);
  }

  .btn {
    padding: 10px 25px;
    color: colors.$WHITE;
    background: rgba(colors.$ACTIVE_COLOR, 0.8);
    border-radius: 10px;
  }
}
