@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

$FONT_WEIGHT_BOLD: 500;
$FONT_WEIGHT_LIGHT: 300;

@mixin adInfo($widthPercentage) {
  float: left;
  width: $widthPercentage;
  padding: 12px 0;
  border-bottom: 1px solid colors.$SUB_GRAY;
}

@mixin borderColorAndRadius($borderColor) {
  border: 1px solid $borderColor;
  border-radius: 10px;
}

.cardContainer {
  @include flexbox.flexbox(between, start);
  @include borderColorAndRadius(colors.$BOX_COLOR);
  flex-direction: column;
  width: 100%;
  height: 420px;
  padding: 30px 20px;
}

.cardHeader {
  font-size: 16px;
  font-weight: $FONT_WEIGHT_BOLD;
}

dl {
  width: 100%;
  margin-top: 20px;
  font-size: 12px;
  border-top: 1px solid colors.$SUB_GRAY;
}

dt {
  @include adInfo(40%);
  font-weight: $FONT_WEIGHT_LIGHT;
  color: colors.$SUB_TEXT;
}

dd {
  @include adInfo(60%);
  font-weight: $FONT_WEIGHT_BOLD;
}

.editButton {
  box-sizing: content-box;
  width: 100px;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: $FONT_WEIGHT_BOLD;
  @include borderColorAndRadius(colors.$BOX_COLOR);
}
