@use '/src/styles/constants/colors';

.chartContainer {
  min-height: 300px;
  max-height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: block;
    background-color: colors.$WHITE;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$SCROLL_BAR;
    border-radius: 10px;
  }
}

.legendContainer {
  display: flex;
  justify-content: flex-end;
  max-width: 1500px;
  margin: 20px 0;
}

.tableContainer {
  overflow-x: scroll;

  table {
    width: 100%;
    min-width: 1200px;
    margin-bottom: 15px;
    color: colors.$MAIN_TEXT_COLOR;
    text-align: right;

    tr {
      line-height: 40px;
      border-bottom: 1px solid colors.$CHART_BORDER;

      th,
      td {
        width: 200px;
      }
    }

    thead {
      tr {
        color: colors.$SUB_TEXT;
        border-top: 1px solid colors.$CHART_BORDER;
      }
    }

    tbody {
      th {
        text-align: left;
      }

      .totalSum {
        color: colors.$TOTAL_TEXT;
      }
    }
  }

  &::-webkit-scrollbar {
    display: block;
    background-color: colors.$WHITE;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$SCROLL_BAR;
    border-radius: 10px;
  }
}
