@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.container {
  $WHITE: hsl(0deg, 0%, 100%);
  $DROPDOWN_BORDER: #d1d8dc;
  $DROPDOWN_FONT: #3a474e;
  position: relative;
  z-index: 1;
  width: 123px;
  height: 40px;
  user-select: none;

  ul {
    display: none;
  }

  &[open] {
    ul {
      position: absolute;
      top: 43px;
      display: block;
      width: 100%;
      max-height: 200px;
      padding: 0 20px;
      overflow-y: auto;
      background-color: $WHITE;
      border: 1px solid $DROPDOWN_BORDER;
      border-radius: 10px;

      li {
        padding: 12px 0;
        cursor: pointer;

        p {
          font-size: 14px;
        }
      }
    }
  }

  summary {
    @include flexbox.flexbox(between, center);
    width: 100%;
    height: 100%;
    padding: 0 10px 0 20px;
    color: $DROPDOWN_FONT;
    list-style: none;
    cursor: pointer;
    background-color: $WHITE;
    border: 1px solid #d1d8dc;
    border-radius: 10px;

    p {
      overflow: hidden;
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .dropdownMarkerBox {
      @include flexbox.flexbox(center, center);
      height: 100%;

      path {
        width: 12px;
        height: 8px;
        fill: $DROPDOWN_FONT;
      }
    }
  }
}

.container.big {
  width: 240px;
  height: 60px;

  ul {
    top: 63px;
    padding: 0 20px;

    li {
      padding: 16px 0;

      p {
        font-size: 16px;
      }
    }
  }

  summary > p {
    font-size: 16px;
    font-weight: bold;
  }
}
